*{
    padding: 0;
    margin: 0;
}

#root{
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;

}
#root ul {

}
[data-element]{
    color: royalblue;
    float: left;
    list-style: none;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-radius: 1px;
    width: 99px;
    height: 30px;
    background-color: grey;

}

[data-element]:hover{
    cursor: pointer;
}
[data-content] {
    display: flex;
    justify-content: flex-start;
    width: inherit;
    height: 100px;
}
[data-content] span{

}
.selected {
    border-top: none;
}
.selected-li--head{
    border-bottom: none;
    background-color: #ffffff;
}



